<!-- Launch file to launch the C++ Script -->

<launch>

  <arg name="MAV_NAME" default="$(optenv MAV_NAME quadrotor)"/>  <!-- Getting MAV_NAME defined as an environment variable -->
  <arg name="yaml_file" default="$(find monitor_cpp)/config/monitor_ros1.yaml" /> <!-- Getting the yaml file -->

  <!-- Calling the C++ script -->
  <node name="monitor_ros1_node" pkg="monitor_cpp" type="monitor_ros1_node" output="screen">
    <param name="mav_name" value="$(arg MAV_NAME)" /> <!-- Passing the mav_name to the C++ script -->
    <param name="yaml_file" value="$(arg yaml_file)" /> <!-- Passing the yaml file to the C++ script -->
  </node>
  
</launch>

<!-- End of launch file -->
